$dark: #212529;
$primary: #0E3FF2;
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
body {
  font-family: 'IBM Plex Mono', monospace;
  color: $dark;
  padding: 48px;
  font-size: 16px;
}

h1 {
  font-size: 1em;
  font-weight: normal;
}

header {
  margin-bottom: 48px;
}
section {
  margin-bottom: 48px;
}
a {
  color: $primary;
  text-decoration: none;
}

